/* Blocks */

@font-face {
  font-family: Starjedi;
  src: url(../fonts/Starjedi.ttf);
}

.main-blocks {
  display: flex;
  margin: 30vh auto;
  width: 650px;
  flex-direction: row;
  justify-content: space-between;
}

.block-left {
  display: block;
  position: relative;
  width: 200px;
  height: 200px;
  border: solid 2px #000000;
  z-index: 1;
}

.subblock1 {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: green;
}

.subblock2 {
  display: block;
  position: absolute;
  left: 100px;
  width: 50%;
  height: 50%;
  background-color: white;
}

.subblock3 {
  display: block;
  position: absolute;
  top: 100px;
  width: 50%;
  height: 50%;
  background-color: black;
}

.subblock4 {
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: brown;
  top: 100px;
  left: 100px;
}

.block-right {
  position: relative;
  height: 200px;
  width: 400px;
  background-color: #c4c4c4;
  border: solid 2px #000000;
}

.subblock5 {
  position: absolute;
  height: 150px;
  width: 300px;
  background-color: red;
  top: 25px;
  left: 50px;
  z-index: 1;
}

.subblock6 {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: blue;
  left: -100px;
  bottom: -100px;
  z-index: -1;
}

.subblock7 {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: blue;
  bottom: -100px;
  left: 90px;
  z-index: 2;
}

.subblock8 {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: blue;
  right: -30px;
  bottom: -100px;
  z-index: -1;
}

/* Menu */

.menu-body {
  height: 100vh;
  background-color: #010101;
}

.menu-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu-title {
  margin: 60px auto 100px auto;
  font-family: Starjedi, serif;
  font-size: 60px;
  letter-spacing: 5px;
  color: #ffe81f;
}

.menu {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.menu-item1,
.menu-item2,
.menu-item3,
.menu-item4 {
  display: block;
  text-align: center;
  width: 100px;
  height: 420px;
  margin: 0 3vw;
}

.item-name1 {
  height: 50px;
  width: 100px;
  margin-bottom: 20px;
  top: 50%;
  padding-top: 25px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(202, 4, 3, 0.9) 0%,
    rgba(202, 4, 3, 0.605141) 7.81%,
    rgba(202, 4, 3, 0.43125) 31.82%,
    rgba(202, 4, 3, 0) 94.47%
  );
}

.item-name2 {
  height: 50px;
  width: 104px;
  margin-bottom: 20px;
  top: 50%;
  padding-top: 25px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(148, 4, 250, 0.9) 0%,
    rgba(148, 4, 250, 0.605141) 7.81%,
    rgba(148, 4, 250, 0.43125) 31.82%,
    rgba(148, 4, 250, 0) 94.47%
  );
}

.item-name3 {
  height: 50px;
  width: 104px;
  margin-bottom: 20px;
  top: 50%;
  padding-top: 25px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(8, 219, 11, 0.75) 0%,
    rgba(8, 219, 11, 0.504284) 7.81%,
    rgba(8, 219, 11, 0.359375) 31.82%,
    rgba(8, 219, 11, 0) 94.47%
  );
}

.item-name4 {
  height: 50px;
  width: 104px;
  margin-bottom: 20px;
  top: 50%;
  padding-top: 25px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #0165c5 0%,
    rgba(1, 101, 197, 0.672379) 7.81%,
    rgba(1, 101, 197, 0.479167) 31.82%,
    rgba(1, 101, 197, 0) 94.47%
  );
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}

.menu-item1:hover {
  outline: 1px solid rgba(202, 4, 3, 0.5);
  outline-offset: -4px;
}

.menu-item1:hover .item-name1 {
  opacity: 0;
  transition: ease-in-out 0.4s;
}

.menu-item1:hover .bg-red {
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.menu-item2:hover {
  outline: 1px solid rgba(148, 4, 250, 0.5);
  outline-offset: -4px;
}

.menu-item2:hover .item-name2 {
  opacity: 0;
  transition: ease-in-out 0.4s;
}

.menu-item2:hover .bg-violet {
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.menu-item3:hover {
  outline: 1px solid rgba(8, 219, 11, 0.3);
  outline-offset: -4px;
}

.menu-item3:hover .item-name3 {
  opacity: 0;
  transition: ease-in-out 0.4s;
}

.menu-item3:hover .bg-green {
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.menu-item4:hover {
  outline: 1px solid rgba(1, 101, 197, 0.5);
  outline-offset: -4px;
}

.menu-item4:hover .item-name4 {
  opacity: 0;
  transition: ease-in-out 0.4s;
}

.menu-item4:hover .bg-blue {
  opacity: 1;
  transition: ease-in-out 0.4s;
}

.bg-red {
  height: 100vh;
  width: 94px;
  margin-left: 3px;
  position: absolute;
  top: 0;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(218, 4, 4, 0.34) 0%,
    #da0404 22.32%,
    #ffffff 25.06%,
    #ffffff 49.03%,
    #ffffff 75.27%,
    #e80404 77.1%,
    rgba(232, 4, 4, 0.707813) 88.05%,
    rgba(232, 4, 4, 0.45) 99.01%
  );
  opacity: 0;
}

.bg-violet {
  height: 100vh;
  width: 94px;
  margin-left: 3px;
  position: absolute;
  top: 0;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(161, 24, 236, 0.34) 0%,
    #a118ec 22.32%,
    #ffffff 25.06%,
    #ffffff 49.03%,
    #ffffff 75.27%,
    #a118ec 77.1%,
    rgba(161, 24, 236, 0.707813) 88.05%,
    rgba(161, 24, 236, 0.45) 99.01%
  );
  opacity: 0;
}

.bg-green {
  height: 100vh;
  width: 94px;
  margin-left: 3px;
  position: absolute;
  top: 0;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(5, 183, 11, 0.34) 0%,
    #05b70b 22.32%,
    #ffffff 25.06%,
    #ffffff 49.03%,
    #ffffff 75.27%,
    #05b70b 77.1%,
    rgba(5, 183, 11, 0.707813) 88.05%,
    rgba(5, 183, 11, 0.45) 99.01%
  );
  opacity: 0;
}

.bg-blue {
  height: 100vh;
  width: 94px;
  margin-left: 3px;
  position: absolute;
  top: 0;
  z-index: -1;
  background: linear-gradient(
    90deg,
    rgba(9, 147, 243, 0.34) 0%,
    #0993f3 22.32%,
    #ffffff 25.06%,
    #ffffff 49.03%,
    #ffffff 75.27%,
    #0993f3 77.1%,
    rgba(9, 147, 243, 0.707813) 88.05%,
    rgba(9, 147, 243, 0.45) 99.01%
  );
  opacity: 0;
}

.navbar {
  position: absolute;
  padding: 20px;
  font-weight: bold;
  color: #000000;
  top: 0;
  left: 0;
}

.navbar-dark {
  color: #ffffff;
}

.navbar__link {
  color: inherit;
}
